@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>辅料管理</title>
    @*1、Jquery组件引用*@
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @*2、bootstrap组件引用*@
    <script src="~/Content/bootstrap/bootstrap.js"></script>
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />

    @*3、bootstrap table组件以及中文包的引用*@
    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <!-- Sweet Alert -->
    <link href="~/Content/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <script src="~/Content/js/content.min.js?v=1.0.0"></script>
    <script src="~/Content/js/plugins/sweetalert/sweetalert.min.js"></script>

    <!--弹窗增改-->
    <link href="~/Content/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>

    <!--表单-->
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="~/Content/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script src="~/Content/js/plugins/iCheck/icheck.min.js"></script>

    <script src="~/Content/js/plugins/layer/laydate/laydate.js"></script>
</head>
<body>
    <div class="panel-body" style="padding-bottom:0px;">
        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group" style="margin-top: 15px">
                        <div class="row">
                            <label class="col-sm-1 control-label">时间：</label>
                            <input class="form-control layer-date" style="float:left;width:240px;height:35px" autocomplete="off" placeholder="YYYY-MM-DD hh:mm:ss" id="search_start" name="search_start" onclick="laydate(start)">
                            <label style="float:left">&nbsp;_&nbsp;</label>
                            <input class="form-control layer-date" style="float:left;width:240px;height:35px" autocomplete="off" placeholder="YYYY-MM-DD hh:mm:ss" onclick="laydate(end)" id="search_end" name="search_end" required="" min="search_start" aria-required="true">
                            <label class="control-label col-sm-1" for="searchStationType">状态:</label>
                            <div class="col-sm-1">
                                <select type="text" class="form-control" id="search_state">
                                    <option value="-1">全部</option>
                                    <option value="0">禁用</option>
                                    <option value="1">启用</option>
                                </select>
                            </div>
                            <label class="control-label col-sm-1" for="key">关键字:</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" id="search_roleName" name="search_roleName" title="关键字" placeholder="请输入关键字">
                            </div>
                            <div class="col-sm-1" style="text-align: left;">
                                <button type="button" style="margin-left: 50px" id="btn_query" class="btn btn-primary">查询</button>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>
        <div id="toolbar" class="btn-group">
            <button id="btn_add" type="button" class="btn btn-default" data-toggle="modal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>计划
            </button>
            <button id="btn_edit" type="button" class="btn btn-default" data-toggle="modal">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>组织
            </button>
            <button id="btn_authority" type="button" class="btn btn-default" data-toggle="modal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>控制
            </button>
        </div>
        <table id="tb_role" data-toggle="table">
            <thead>
                <tr>
                    <th></th>
                    <th>编号</th>
                    <th>名称</th>
                    <th>价格</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="radio" name="r" /></td>
                    <td>1</td>
                    <td>Item 1</td>
                    <td>$1</td>
                    <td>Remark1</td>
                </tr>
                <tr>
                    <td><input type="radio" name="r" /></td>
                    <td>2</td>
                    <td>Item 2</td>
                    <td>$2</td>
                    <td>Remark2</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
